.app {
  text-align: center;
}

h1 {
  margin-bottom: 3rem;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.iconContainer {
  width: 10rem;
}

.footnote {
  font-style: italic;
  margin-top: 4rem;
}
